{% extends 'base.html' %}

{% block title %}О нас — SecretShop{% endblock %}

{% block content %}


  <div class="row g-4 mt-1">


    <div class="col-12 col-md-6">
      <h1 class="h3">О нас</h1>
      <div class="mt-4">
        <div class="text-body">(Текст про нашу продукцию)</div>
      </div>
    </div>

    <div class="row g-3">
      <div class="col-12 col-md-6">
          <img src="/media/23d8424d-518f-4eed-97c4-6c9282e0fde4.jpg"
               alt="Фото 1"
               class="w-100 h-100 object-fit-cover">
      </div>
      <div class="col-12 col-md-6">
          <img src="/media/e3b0d8ac-fd64-4e1a-9761-84c8921cd2a6.jpg"
               alt="Фото 2"
               class="w-100 h-100 object-fit-cover">
      </div>
    </div>

  </div>
{% endblock %}