{% extends 'base.html' %}

{% block title %}Контакты — SecretShop{% endblock %}

{% block content %}


  <div class="row g-4 mt-1">


    <div class="col-12 col-md-6">
      <h1 class="h3">Контакты</h1>
      <div class="mt-4">
        <div class="text-body">
            <p class="mb-2">
              Напишите нам в
              <a href="https://web.telegram.org/k/#@Esaashaa" target="_blank" rel="noopener">
                Telegram
              </a>
            </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}